body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  height: 100vh;
  width: 100vw;
}

#dropdown-container {
  min-height: 30%;
  height: auto;
  width: 35%;
  position: relative;
  left: 40%;
  top: 10%;
  background-color: skyblue;
  text-align: center;
  padding-bottom: 20px;
}

#dropdown-btn {
  width: 50%;
  height: 40px;
  background: white;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

#open-dropdown {
  height: 15px;
  width: 15px;
  margin-right: 15px;
}

#btn-value {
  font-size: 20px;
  margin-left: 15px;
}

img {
  height: 100%;
  width: 100%;
}

#dropdown-list {
  width: 50%;
  height: auto;
  background: white;
  margin: auto;
  /* padding-bottom: 10px; */
}

.list-item {
  height: 30px;
  width: 100%;
  font-size: 20px;
  text-align: start;
  padding-left: 15px;
  border-top: 1px solid lightgray;
}
